<html>  

  <style>
    table, th, td {
       border: 1px solid black;
       border-collapse: collapse;
       text-align: right;
    }
    th, td {
      padding: 10px;
    }
    th {
      text-align: center;
    }
    .flex-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
    </style>

  <div class="flex-container">
    <table id = "IoT" style = "width:%">
    {% for r in iotTable %}
    <TR></TR>
      <TD>{{r[0]}}</TD>
      <TD>{{r[1]}}</TD>
      <TD>{{r[2]}}</TD>
      <TD>{{r[3]}}</TD>
      <TD>{{r[4]}}</TD>
      <TD>{{r[5]}}</TD>
    </TR>
    {% endfor %}
    </table>

    <table id = "NFC" style = "width:%">
      {% for r in nfcTable %}
      <TR></TR>
        <TD>{{r[0]}}</TD>
        <TD>{{r[1]}}</TD>
        <TD>{{r[2]}}</TD>
        <TD>{{r[3]}}</TD>
        <TD>{{r[4]}}</TD>
        <TD>{{r[5]}}</TD>
        <TD>{{r[6]}}</TD>
      </TR>
      {% endfor %}
      </table>
    </div>

</html>